@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.container-show{
    width: 100%;
    display: block;
}
.container-show .container-oction{
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-show .logo{
    width: 100%;
    height: 5vh;
    background-color: #141414;
}
.container-show .logo a{
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    text-decoration: none;
    padding: 0 15px;
    line-height: 5vh;
    text-transform: capitalize;
}
.container-show .container-oction h1{
    text-transform: uppercase;
    border-bottom: 2px solid white;
}
.container-show .container-oction p{
    width: 100%;
    text-align: center;
    margin: 20px;
}

.container-show .image{
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}
.container-show .image img{
    width: 90%;
    object-fit: cover;
    transition: all .5s ease-out;
}
.container-show .pagrafos{
    margin-left: 20px;
}
/* HEADER END */

.conteudo-sobre{
    width: 100vw;
}
.conteudo-sobre .qualy{
    max-width: 950px;
    text-align: center;
    margin: 0 auto;
}
.conteudo-sobre .qualy .nosso-trabalho{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.conteudo-sobre .qualy .nosso-trabalho h2{
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
}
.conteudo-sobre .qualy .nosso-trabalho .confei{
    width: 100vw;
    background-color: #141414;
}
.conteudo-sobre .qualy .nosso-trabalho .confei img{
    width: 100%;
}
.conteudo-sobre .qualy  .galery-container{
    display:  grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,250px));
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
}
.conteudo-sobre .qualy  .galery-container .image-on-sa img{
    width: 40vmax;
    height: 200px;
    object-fit: cover;
}
.conteudo-sobre .qualy .qualidade{
    width: 100vw;
    height: 100%;
    margin-top: 28px;
}
.conteudo-sobre .qualy .qualidade h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 500;
}
.conteudo-sobre .qualy .qualidade h3 span{
    color: rgb(185, 141, 19);
    border-bottom: 1px solid rgb(194, 143, 14);
}
.conteudo-sobre .qualy .qualidade .igre-quali{
   display: flex;
   align-items: center;
   justify-content: center;
}
.conteudo-sobre .qualy .qualidade .igre-quali p{
    display: block;
    width: 80%;
    font-size: .95em;
    text-align: left;
    padding-left: 20px;
}
.conteudo-sobre .qualy .qualidade .marcas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.conteudo-sobre .qualy .qualidade .marcas ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-left: 20px;
}
.conteudo-sobre .qualy .qualidade .marcas ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 1.2em;
    color: #141414;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.conteudo-sobre .qualy .qualidade .marcas ul li a:hover{
    color: #af5d3c;
    transform: scale(1.3);
}
.conteudo-sobre .qualy .qualidade .marcas .choco img{
    width: 80vw;
}



.rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-top: 20px;
}
.rodape p{
    font-size: 1.2em;
    color: #333;
    font-weight: lighter;
}
.rodape span{
    color: rgb(165, 80, 10);
}